$pallete: (
  "default": hsl(215, 81%, 61%), 
  "clear-sky": hsl(215, 81%, 61%), 
  "few-clouds": hsl(215, 57%, 60%), 
  "scattered-clouds": hsl(215, 46%, 60%), 
  "rain": hsl(215, 34%, 59%),
  "thunderstorm": hsl(215, 34%, 55%),
  "light": hsl(0, 0%, 100%),
  "light60": hsla(0, 0%, 100%, 0.6),
  "light20": hsla(0, 0%, 100%, 0.2),
  "light10": hsla(0, 0%, 100%, 0.1),
  "dark": hsl(0, 0%, 0%),
  "blue": hsl(210, 100%, 53%),
  "blue20": hsl(210, 100%, 53%, 0.2),
);

$shadows: (
  "md": 0px 0.125rem 0.5rem rgba(0, 0, 0, 0.15),
);

$sizes: (
  "container": 1366px,
  "mobile": 376px,
);