h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input, button {
  background: transparent;
  color: inherit;
  border: none;
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  line-height: inherit;
  outline: none;
}

button {
  cursor: pointer;
}