@use "/src/styles/variables";
@use "/src/styles/functions";

.app {
  width: 100%;
  min-height: 100vh;
  background: map-get($map: variables.$pallete, $key: "default");

  &_theme_clear-sky {
    background: map-get($map: variables.$pallete, $key: "clear-sky");
  }
  &_theme_few-clouds {
    background: map-get($map: variables.$pallete, $key: "few-clouds");
  }
  &_theme_scattered-clouds {
    background: map-get($map: variables.$pallete, $key: "scattered-clouds");
  }
  &_theme_rain {
    background: map-get($map: variables.$pallete, $key: "rain");
  }
  &_theme_thunderstorm {
    background: map-get($map: variables.$pallete, $key: "thunderstorm");
  }

  &__nav {
    margin-bottom: functions.interpolate(150, 190);
  }
  
  &__weather-display {
    margin-bottom: functions.interpolate(140, 218);
  }
  
  &__weather-details {
  }
}

.container {
  max-width: map-get($map: variables.$sizes, $key: "container");
  margin: 0 auto;
  padding: functions.interpolate(25, 99);
}

.main-nav {
  &__title-block {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.5rem;
  }

  &__title-block:not(:last-child) {
    margin-bottom: functions.interpolate(18, 9);
  }

  &__title {
    font-weight: 400;
  }

  &__temperature-formatter {
    position: relative;

    @media(min-width: 0px) {
      flex: 1 1 auto;
    }
    @media(min-width: map-get($map: variables.$sizes, $key: 'mobile')) {
      flex: 0 0 auto;
    }
  }
  &__temperature-formatter::before {
    content: "°";
    line-height: 1;
    font-weight: 400;
    position: absolute;
    transform: translate(calc(-0.8rem - 100%), calc(50% - 0.2rem));

    @media(min-width: 0px) {
      display: none;
    }
    @media(min-width: map-get($map: variables.$sizes, $key: 'mobile')) {
      display: block;
    }
  }

  &__location-selector {
  }
}

.location-selector {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1;
  gap: 0.5rem 2rem;

  &__current {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6875rem;
  }

  &__location {
  }

  &__icon {
  }
}

.btn {
  border-radius: 0.2em;
  padding: 0.3em 0.5em;
  transition: 0.2s ease;
  
  &:hover, &:focus {
    background: map-get($map: variables.$pallete, $key: "light10");
  }
  
  &:active {
    color: map-get($map: variables.$pallete, $key: "light");
  }
}

.h2 {
  font-size: functions.interpolate(30, 50);
}

.secondary {
  font-size: functions.interpolate(15, 18);
  font-weight: 300;
  color: map-get($map: variables.$pallete, $key: "light60");
}

.temperature-formatter {
}

.weather-display {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  
  &__title {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
  }

  &__title:not(:only-child) {
    margin-bottom: 0.625rem;
  }

  &__icon {
    width: functions.interpolate(140, 200);
    height: auto;
  }

  &__temp {
    font-size: functions.interpolate(120, 180);

    @media(min-width: 0px) {
      font-weight: 300;
    }
    @media(min-width: map-get($map: variables.$sizes, $key: 'mobile')) {
      font-weight: 400;
    }
  }

  &__temp_unit_celsius::after, &__temp_unit_fahrenheit::after, &__temp_unit_kelvin::after {
    color: map-get($map: variables.$pallete, $key: 'light60');
    font-size: 0.5em;
  } 

  &__temp_unit_celsius::after {
    content: " °C";
  }
  &__temp_unit_fahrenheit::after {
    content: " °F";
  }
  &__temp_unit_kelvin::after {
    content: " °K";
  }
}

.weather-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.1875rem;

  &__item {
    flex: 1 1 8rem;
  }

  &__header:not(:only-child) {
    margin-bottom: 0.625rem;
  }

  &__data {
  }
  &__data_windspeed_m\/s::after {
    content: ' м/с';
  }
  &__data_windspeed_mph::after {
    content: ' миля/ч';
  }
  &__data_pressure_hPa::after {
    content: ' гПа';
  }
  &__data_pressure_mmgh::after {
    content: ' мм рт. ст.';
  }
  &__data_humidity_\%::after {
    content: '%';
  }
  &__data_precipitation_mm::after {
    content: ' мм';
  }
}
