@use '/src/styles/variables';
@use '/src/styles/functions';
@import '/src/styles/zeroing';
@import '/src/styles/fonts';

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: map-get($map: variables.$pallete, $key: "light");
  font-size: functions.interpolate(18, 25);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
